<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Taller Desarrollo II - FIUBA</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen,projection" />
  <link href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen,projection" />
  <link href="../../static/css/materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet" media="screen,projection" />
  <link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen,projection" />
</head>
<body>  
  <!--/*  Multiple fragments may be defined in one file */-->
  <div th:fragment="footer">
  	<footer class="page-footer orange">
	    <div class="container">
	      <div class="row">
	        <div class="footer-copyright">
		      <div class="container">
		      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		      </div>
		    </div>
	      </div>
	    </div>
	    
	  </footer>
  </div>
  
  <div th:fragment="footer-admin">
  	<footer class="page-footer orange">
	    <div class="container">
	      <div class="row">
	        <div class="footer-copyright">
		      <div class="container">
		      Admin Footer - Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		      </div>
		    </div>
	      </div>
	    </div>
	    
	  </footer>
	  	
  </div>
  
  

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
  <script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
  <script src="../../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
  <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
</body>
</html>
