<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taller Desarrollo II - FIUBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <!--  <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script> -->
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	<link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/css/materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<div th:replace="views/fragments/header :: header">&nbsp;</div>
	
	<div class="container">
		<div class="section">
			<div class="row">
				<h1>Prueba Video</h1>				
			    <form action="#" th:action="@{/pruebaVideo}" th:object="${pruebaForm}" method="post" enctype="multipart/form-data">			    	
			    	<div class="col l6 s12">
			    		 <div class="form-group">
			    		 	<p class="help-block">Seleccione un video - Tag Input - CARGAR</p>			    			
			    			<input type="file" accept="video/mp4,video/x-m4v,video/*" th:field="*{video}"/>
			    			<br></br>		    				 			
			    		 </div>
			    		 <div class="form-group">
			    		 	<p class="help-block">Seleccione un subtitulo - Tag Input - CARGAR</p>			    			
			    			<input type="file" accept="video/mp4,video/x-m4v,video/*" th:field="*{subtitulo}"/>
			    			<br></br>    			
			    		 </div>			    		                     									    		
			    	</div>
			    	<div class="col l6 s12"> 
			    		<div class="form-group" th:if="${mostrar} == true">
			    		 	<p class="help-block">Seleccione un video - Tag Video - Html5 http://www.w3schools.com/html/html5_video.asp - VISUALIZACION</p>			    			
			    			<video width="320" height="240" autoplay="autoplay" th:field="*{video}">
							  <source th:field="*{subtitulo}" src="*{subtitulo}" type="video/mp4"></source>
							  <source th:field="*{subtitulo}" src="*{subtitulo}" type="video/ogg"></source>
							  <source th:field="*{subtitulo}" src="*{subtitulo}" ></source>
							  Your browser does not support the video tag.
							</video>		    			
			    		 </div>	    		 			    		 	                         
			    	</div>
			    	<div class="row">        		
						<div class="col-xs-12">
					    	<hr></hr>
						</div>
					</div>
					
			    	<div class="col l12 s12">			    					    				
	    				<div class="form-group">
                         	<button type="submit" class="btn orange-effect orange darken-4">Guardar</button>                       		
                         	<a class="btn orange-effect orange darken-4" href="#" th:href="@{/logout}">Volver</a>
                         </div>
			    	</div>			    	
			    </form>
			</div>		
		</div>		
	</div>		
	
	<!--  Scripts-->
    <script src="../../static/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="../../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>
</body>
</html>