<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taller Desarrollo II - FIUBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    <link href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen,projection" />
    <link href="../../static/css/metisMenu.css" th:href="@{/css/metisMenu.css}" rel="stylesheet" media="screen,projection" />    
	<link href="../../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen,projection" />
    <link href="../../static/css/materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen,projection" />	
	<link href="../../static/css/educa.css" th:href="@{/css/educa.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/css/bootstrap-datetimepicker.css" th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" media="screen,projection" />	
	<link href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/wysiwyg-sceditor/sceditor/jquery.sceditor.default.css" th:href="@{/wysiwyg-sceditor/sceditor/jquery.sceditor.default.css}" rel="stylesheet" media="all" />
	<link href="../../static/wysiwyg-sceditor/sceditor/themes/modern.css" th:href="@{/wysiwyg-sceditor/sceditor/themes/modern.css}" rel="stylesheet" media="all" />
</head>
<body>
	<div th:replace="views/fragments/header :: header">&nbsp;</div>
	
	<div class="container">
		<div class="section">
			<div class="row">
				<h1>Configuraci&oacute;n de unidad</h1>				
			    <form id="unidadPublicacionForm" action="#" th:object="${unidadForm}" th:action="@{/detalleUnidad/cambiarEstadoPublicacion}" method="post">
			    	<div class="row">
				    	<div class="col s4"> 
				    		<div class="form-group input-field">
				    			<input type="text" th:field="*{curso.nombre}" placeholder="Nombre del curso" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>			    			
				    		</div>
				    	</div>
				    	<div class="col s1"></div>
				    	<div class="col s3">	
				        	<div class="form-group input-field">
				        		 <input type="text" th:field="*{curso.categoria.descripcion}" placeholder="Categor&iacute;a del curso" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>                                                        
	                         </div>		 			    		 	                        
				    	</div>
				    	<div class="col s1"></div>
				    	<div class="col s3">	
				        	<div class="form-group input-field">
				        		 <!-- Switch -->
		                         <div class="switch" style="color: #000; border-bottom: 1px solid #26a69a; width: 100%; height: 3rem;">	                         	                         	
								    <label style="position: absolute; color: #000; font: inherit;">
								      No publicado
								      <input type="checkbox" th:checked="*{publicado}" th:value="*{publicado}" onchange="cambioValorPublicacion()" />
								      <span class="lever"></span>
								      Publicado
								    </label>
								  </div>
	                         </div>	                         	 			    		 	                        
				    	</div>
			    	</div>
			    </form>
			    
			    <!-- Mensajes de publicacion curso -->
                <div th:if="${mostrarMensajeErrorPublicacion} == true" class="alert alert-danger alert-dismissable">
				   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				   <a href="#" class="alert-link">Error!</a> <span th:text="${mensajeErrorPublicacion}"></span>	   				   	  
				</div>
				<!-- FIN de Mensajes de publicacion curso -->		  
			    
				<div class="row">
					<div >
						<!-- Nav tabs -->
						<ul class="nav nav-tabs">
							<li th:class="${mostrarTabMaterialTeorico} ? 'tab col s3 active' : 'tab col s3'"><a href="#materialTeoricoUnidad" data-toggle="tab" aria-expanded="false">Material te&oacute;rico</a>
							</li>
							<li th:class="${mostrarTabVideo} ? 'tab col s3 active' : 'tab col s3'"><a href="#videoUnidad" data-toggle="tab" aria-expanded="false">Video</a>
							</li>
							<li th:class="${mostrarTabPracticas} ? 'tab col s3 active' : 'tab col s3'"><a href="#practicasUnidad" data-toggle="tab" aria-expanded="false">Pr&aacute;cticas</a>
							</li>
							<li th:class="${mostrarTabExamen} ? 'tab col s3 active' : 'tab col s3'"><a href="#examenUnidad" data-toggle="tab" aria-expanded="false">Examen</a>
							</li>
						</ul>
					
						<!-- Tab panes -->
						<div class="tab-content">
							<!-- FIN - TAB DE MATERIAL TEORICO -->
							<div th:class="${mostrarTabMaterialTeorico} ? 'tab-pane fade active in' : 'tab-pane fade'" id="materialTeoricoUnidad">
								<br></br><br></br>
								
								<form action="#" th:action="@{/detalleUnidad/guardarMaterialTeorico}" th:object="${unidadForm}" method="post" id="formularioMaterialTeorico">
									<div id="formularioMaterialTeoricoDetalle">									  								
										<div class="row">
											<div class="col l12 s12">
												<!-- Mensajes de error guardar -->
												<div th:if="${mostrarErrorContenidoMaterialTeoricoVacio} == true" class="alert alert-danger alert-dismissable">
												   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
												   <a href="#" class="alert-link">Error!</a> <span th:text="${mensajeErrorContenidoMaterialTeoricoVacio}"></span>												   												   				  
												</div>
												<!-- FIN - Mensajes de error guardar -->
												
												<!-- Mensajes de guardar -->								
												<div th:if="${mostrarMensajeMaterialGuardado} == true" class="alert alert-success alert-dismissable">
												   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
												   <a href="#" class="alert-link">Bien Hecho!</a> El material te&oacute;rico se guard&oacute; con &eacute;xito.	                   
												</div>
												<!-- FIN de Mensajes de guardar -->
																								
												<div class="form-group input-field" style="text-align: -webkit-center;">
													<textarea name="bbcode_field" style="height:300px;width:600px;" th:field="*{materialTeorico}" th:text="*{materialTeorico}" th:value="*{materialTeorico}">														
													</textarea>													
												</div>											
											</div>
										</div>										
									</div>
									
									<div class="row">
										<div class="col-xs-12">
											<hr></hr>
										</div>
									</div>
									
									<div class="col l12 s12">			    					    				
										<div class="form-group">
											<button type="submit" class="btn orange-effect orange darken-4">Guardar</button>                       		
											<a class="btn orange-effect orange darken-4" href="#" th:href="@{/cursoNoAdmin/configuracionCurso/{cursoId}(cursoId=*{curso.id})}">Salir</a>
										 </div>
									</div>
								</form>											    								    
							</div>
							<!-- FIN - TAB DE MATERIAL TEORICO -->
							
							<!-- TAB DE VIDEO -->
							<div th:class="${mostrarTabVideo} ? 'tab-pane fade active in' : 'tab-pane fade'" id="videoUnidad">								
								<br></br><br></br>
								
								<form action="#" th:action="@{/detalleUnidad/guardarVideo}" th:object="${unidadForm}" method="post" id="formularioVideo" enctype="multipart/form-data">
									<div id="formularioVideoDetalle">									  								
										<div class="row">
											<div class="col l12 s12">
												<div class="form-group input-field">
													<div class="row">
												        <div class="input-field col s8">
												            <p class="help-block">Seleccione un video</p>									    			
											    			<input type="file" accept="video/mp4,video/x-m4v,video/*" onchange="loadVideo(event)" th:field="*{video}"/>											    
												        </div>												        
												     </div>
												</div>
												<div class="form-group input-field">
													<div class="row">
														<div class="input-field col s2"></div>
														<div class="input-field col s8">
												        	<div th:if="${mostrarMensajeErrorCargaVideo} == true" class="alert alert-danger alert-dismissable">
												        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
												   				<a href="#" class="alert-link">Error!</a> <span th:text="${mensajeErrorVideo}"></span>															   	                   
															</div>
															<div th:if="${mostrarMensajeEliminarVideo} == true" class="alert alert-success alert-dismissable">
												        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
												   				<a href="#" class="alert-link">Bien Hecho!</a> El video se elimin&oacute; con &eacute;xito.															   	                   
															</div>
															<div th:if="${mostrarMensajeWarningCargaVideo} == true" class="alert alert-warning alert-dismissable">
												        		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
												   				<a href="#" class="alert-link">Cuidado!</a> <span th:text="${mensajeWarningVideo}"></span>															   	                   
															</div>
															<div th:if="${mostrarMensajeErrorValidacionCargaVideo} == true" class="alert alert-danger alert-dismissable">
															   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
															   <a href="#" class="alert-link">Error!</a> El video contiene errores de validaci&oacute;n, por lo que los cambios no se realizaron.
															   
															   <div>
																	<br></br><br></br>
																	<a href="#" class="alert-link">Errores:</a>
																	<br></br><br></br>
																	<ol>
																		<li th:each="err : *{errores}"><p th:text="${err}"></p></li>
																	</ol>
																</div>													  
															</div>
												        </div>
													</div>													
												</div>
												<div class="form-group input-field">
													<div class="row">
														<div class="form-group input-field col s2"></div>
														<div class="form-group input-field col s8">
															 <div th:if="*{edicion} == false" class="video-container">
														      	<object type="text/html" id="outputVideo" th:field="*{video}"></object>
														      </div>
														      <div th:if="*{edicion} == true" class="video-container">
														      	<object type="video/mp4" id="outputVideo"  th:data="*{videoBytes}" th:field="*{video}"></object>
														      </div>								      									    			
														</div>
													</div>														
												</div>																																			
											</div>
										</div>
																				
										<div class="row">
											<div class="col-xs-12">
												<hr></hr>
											</div>
										</div>
										
										<div class="col l12 s12">			    					    				
											<div class="form-group">
												<button type="submit" class="btn orange-effect orange darken-4">Guardar</button>
												<a class="btn orange-effect orange darken-4" href="#" th:href="@{/detalleUnidad/eliminarVideo/{cursoId}/{unidadNro}(cursoId=*{curso.id},unidadNro=*{unidad.id.numero})}">Eliminar</a>
												<a class="btn orange-effect orange darken-4" href="#" th:href="@{/cursoNoAdmin/configuracionCurso/{cursoId}(cursoId=*{curso.id})}">Salir</a>
											 </div>
										</div>																				
									</div>
								</form>													
							</div>
							<!-- FIN - TAB DE VIDEO -->
							
							<!-- TAB DE PRACTICAS -->
							<div th:class="${mostrarTabPracticas} ? 'tab-pane fade active in' : 'tab-pane fade'" id="practicasUnidad">								
								<br></br><br></br>																
							</div>
							<!-- FIN - TAB DE PRACTICAS -->
							
							<!-- TAB DE EXAMEN -->
							<div th:class="${mostrarTabExamen} ? 'tab-pane fade active in' : 'tab-pane fade'" id="examenUnidad">								
								<br></br><br></br>

								<!-- Se listan las preguntas si alguna fue dada de alta. -->
								<div th:if="${unidadForm.examenUnidad} != null">
									<div th:if="${not #lists.isEmpty(unidadForm.examenUnidad.preguntas)}">
										<ul class="collapsible popout collapsible-accordion"
											data-collapsible="accordion">
											<li th:each="preguntaPropia : ${unidadForm.examenUnidad.preguntas}"
												th:id="'preguntaPropia-' + ${preguntaPropia.id.idPregunta}">
												<!-- onclick="abrioTag('UNIDAD')"> -->
												<div class="collapsible-header">
													<i class="fa fa-file-text-o" aria-hidden="true"></i>&nbsp;
													<span th:text="${preguntaPropia.enunciado}">&nbsp;</span>
												</div>
											</li>
										</ul>
									</div>
								</div>

								<div
									th:if="${unidadForm.examenUnidad} == null">
									<div class="alert alert-warning">No hay preguntas
										asociadas al examen.</div>
								</div>

								<form action="#" th:action="@{/detalleUnidad/guardarPreguntaExamen}" th:object="${unidadForm}" method="post" id="formularioAltaPreguntaExamen">
									<div id="formularioAltaPreguntaExamenDetalle">
										<div class="col l12 s12">
											<div class="form-group input-field">
												<div class="row">
											        <div class="input-field col s8">
											          <i class="small material-icons prefix">note_add</i>
											          <input id="icon_prefix" type="number" min="1" class="validate" th:field="*{cantidadPreguntasAlumno}"/>
											          <label for="icon_prefix" style="position: absolute;">Cantidad de preguntas para el alumno</label>
											        </div>
											        <div class="input-field col s4">
											        	<div th:if="${mostrarMensajeCantidadPreguntas} == true" class="alert alert-warning alert-dismissable">														   
														   <a href="#" class="alert-link">Cuidado!</a> No olvide cargar este campo.	                   
														</div>											        												        
											        </div>
											     </div>
											</div>
										</div>
										
										<!-- Mensajes de alta pregunta -->								
										<div th:if="${mostrarMensajeAltaPregunta} == true" class="alert alert-success alert-dismissable">
										   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
										   <a href="#" class="alert-link">Bien Hecho!</a> La pregunta se cre&oacute; con &eacute;xito.	                   
										</div>
										<!-- FIN de Mensajes de alta pregunta -->
									
										<div class="col l12 s12">
											<div class="form-group input-field">
												<div class="row">
											        <div class="input-field col s8">
											          <i class="small material-icons prefix">mode_edit</i>
											          <input id="icon_prefix" type="text" class="validate" th:field="*{pregunta}"/>
											          <label for="icon_prefix" style="position: absolute;">Pregunta para incluir en el examen</label>
											        </div>
											        <div class="input-field col s4">
											        	<input id="multipleChoiceCheckbox" type="checkbox" th:field="*{multipleChoice}" th:checked="*{multipleChoice}" th:value="*{multipleChoice}"/>
											        	<label for="multipleChoiceCheckbox">Multiple choice</label>
											        </div>
											     </div>
											</div>
										</div>
										<div id="opcionesMultipleChoice" class="row">
											<div class="col l2 s12">											
											</div>
											<div class="col l8 s12">
												<div class="alert alert-success">
					                                <a href="#" class="alert-link">Respuesta correcta!</a> No olvide tildar la respuesta correcta.
					                            </div>
											
												<div class="col-xs-6">
													<div class="form-group input-field">
														<input name="groupoPreguntasMultipleChoice" type="checkbox" class="filled-in" id="filled-in-box-opcion1" th:checked="*{opcionUnoSeleccionada}" th:value="*{opcionUnoSeleccionada}" th:field="*{opcionUnoSeleccionada}"/>
	      												<label for="filled-in-box-opcion1">
	      													<input id="opcion1" type="text" class="validate" th:field="*{respuestaOpcionUno}" />
											          		<label for="opcion1" style="position: absolute;">Opci&oacute;n 1</label>
	      												</label>
													</div>
													<br></br>
													<div class="form-group input-field">
														<input name="groupoPreguntasMultipleChoice" type="checkbox" class="filled-in" id="filled-in-box-opcion2" th:checked="*{opcionDosSeleccionada}" th:value="*{opcionDosSeleccionada}" th:field="*{opcionDosSeleccionada}"/>														
	      												<label for="filled-in-box-opcion2">
	      													<input id="opcion2" type="text" class="validate" th:field="*{respuestaOpcionDos}"/>
											          		<label for="opcion2" style="position: absolute;">Opci&oacute;n 2</label>
	      												</label>
													</div>													
												</div>
												<div class="col-xs-6">
													<div class="form-group input-field">
														<input name="groupoPreguntasMultipleChoice" type="checkbox" class="filled-in" id="filled-in-box-opcion3" th:checked="*{opcionTresSeleccionada}" th:value="*{opcionTresSeleccionada}" th:field="*{opcionTresSeleccionada}"/>
	      												<label for="filled-in-box-opcion3">
	      													<input id="opcion3" type="text" class="validate" th:field="*{respuestaOpcionTres}"/>
											          		<label for="opcion3" style="position: absolute;">Opci&oacute;n 3</label>	      													
	      												</label>
													</div>
													<br></br>
													<div class="form-group input-field">
														<input name="groupoPreguntasMultipleChoice" type="checkbox" class="filled-in" id="filled-in-box-opcion4" th:checked="*{opcionCuatroSeleccionada}" th:value="*{opcionCuatroSeleccionada}" th:field="*{opcionCuatroSeleccionada}"/>
	      												<label for="filled-in-box-opcion4">
	      													<input id="opcion4" type="text" class="validate" th:field="*{respuestaOpcionCuatro}"/>
											          		<label for="opcion4" style="position: absolute;">Opci&oacute;n 4</label>	      													
	      												</label>
													</div>
												</div>												
											</div>
											<div class="col l2 s12">
											</div>
										</div>
										<div id="preguntaUnica">
											<div class="col l12 s12">
												<div class="form-group input-field">
													<div class="row">
												        <div class="input-field col s8">
												          <i class="small material-icons prefix">question_answer</i>									          
												          <input id="icon_prefix" type="text" class="validate" th:field="*{respuestaUnica}"/>
												          <label for="icon_prefix" style="position: absolute;">Respuesta</label>
												        </div>												        
												     </div>
												</div>
											</div>																			
										</div>
									</div>
																		
									<div class="row">
										<div class="col-xs-12">
											<hr></hr>
										</div>
									</div>
									
									<div class="col l12 s12">			    					    				
										<div class="form-group">
											<button type="submit" class="btn orange-effect orange darken-4">Guardar</button>                       		
											<a class="btn orange-effect orange darken-4" href="#" th:href="@{/cursoNoAdmin/configuracionCurso/{cursoId}(cursoId=*{curso.id})}">Salir</a>
										 </div>
									</div>								
								</form>
							</div>
							<!-- FIN - TAB DE EXAMEN -->
						</div>
					</div>
				</div>			    	  	
			</div>		
		</div>		
	</div>
	
	<!--  Scripts-->
    <script src="../../static/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script> 
    <script src="../../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../static/js/metisMenu.js" th:src="@{/js/metisMenu.js}"></script>
    <script src="../../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="../../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <script src="../../static/js/init.js" th:src="@{/js/init.js}"></script>   
    <script src="../../static/js/moment-with-locales.js" th:src="@{/js/moment-with-locales.js}"></script>
    <script src="../../static/js/moment.js" th:src="@{/js/moment.js}"></script>
    <script src="../../static/js/locale/es.js" th:src="@{/js/locale/es.js}"></script>    
    <script src="../../static/js/bootstrap-datetimepicker.min.js" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>    
    <script src="../../static/wysiwyg-sceditor/sceditor/jquery.sceditor.xhtml.js" th:src="@{/wysiwyg-sceditor/sceditor/jquery.sceditor.xhtml.js}"></script>
    <script src="../../static/wysiwyg-sceditor/languages/es.js" th:src="@{/wysiwyg-sceditor/languages/es.js}"></script>    
    
    <script type="text/javascript">
    	function cambioValorPublicacion(){    		   	
			$('#unidadPublicacionForm').submit();
    	}    	
	    
    	$(function () {
    		var estaSeleccionado =  $( '#multipleChoiceCheckbox' ).is(':checked');
    		if(estaSeleccionado){
    			$("#preguntaUnica").hide();
        		$("#opcionesMultipleChoice").show();
    		} else {
    			$("#preguntaUnica").show();
        		$("#opcionesMultipleChoice").hide();
    		}
    	});
	    
	    $( '#multipleChoiceCheckbox' ).on( 'click', function() {
	        if( $(this).is(':checked') ){
	        	$("#preguntaUnica").hide();
	    		$("#opcionesMultipleChoice").show();
	        } else {
	        	$("#preguntaUnica").show();
	    		$("#opcionesMultipleChoice").hide();
	        }
	    });
	</script>
	
	<script>
	  var loadVideo = function(event) {
	    var outputVideo = document.getElementById('outputVideo');
	    //outputVideo.src = URL.createObjectURL(event.target.files[0]);
	    outputVideo.data = URL.createObjectURL(event.target.files[0]);
	  };
	</script>
	
	<script>
		// Source: http://www.backalleycoder.com/2011/03/20/link-tag-css-stylesheet-load-event/
		var loadCSS = function(url, callback){
			var link = document.createElement('link');
			link.type = 'text/css';
			link.rel = 'stylesheet';
			link.href = url;
			link.id = 'theme-style';

			document.getElementsByTagName('head')[0].appendChild(link);

			var img = document.createElement('img');
			img.onerror = function(){
				if(callback) callback(link);
			}
			img.src = url;
		}

		$(document).ready(function() {
			var initEditor = function() {
				$("textarea").sceditor({
					plugins: 'xhtml',
					style: "../../../wysiwyg-sceditor/sceditor/themes/modern.css",
					locale: "es"
				});
			};
			
			$("#theme").change(function() {
				var theme = "../../../wysiwyg-sceditor/sceditor/themes/" + $(this).val() + ".css";

				$("textarea").sceditor("instance").destroy();
				$("link:first").remove();
				$("#theme-style").remove();

				loadCSS(theme, initEditor);
			});

			initEditor();
		});
	</script>
</body>
</html>