<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Taller Desarrollo II - FIUBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" th:href="@{/css/educa.css}" rel="stylesheet" media="screen,projection" />
	<link href="../../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" media="screen,projection" />	
	
</head>
<body>
	<div th:replace="views/fragments/header :: header">&nbsp;</div>
	 
	<div class="container">
		<div class="section">
			<div class="row">
				<h3>Foro - Tema</h3>
				<form id="cursoForm" action="#" th:object="${foroForm}">
			    	<div class="row">
			    		<div class="col s3">
				    		<div class="form-group input-field">
				    			<input type="text" th:field="*{sesion.descripcionForo}" placeholder="Nombre sesi&oacute;n" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>			    			
				    		</div>
				    	</div>
				    	<div class="col s1"></div>
				    	<div class="col s3">
				    		<div class="form-group input-field">
				    			<input type="text" th:field="*{curso.nombre}" placeholder="Nombre del curso" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>			    			
				    		</div>
				    	</div>
				    	<div class="col s1"></div>
				    	<div class="col s4">	
				        	<div class="form-group input-field">
				        		 <input type="text" th:field="*{curso.categoria.descripcion}" placeholder="Categor&iacute;a del curso" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>                                                        
	                         </div>		 			    		 	                        
				    	</div>
						<div class="col s12" th:if="${altaComentarioOk} == true">
							<div class="alert alert-success alert-dismissable">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">×</button>
								<a href="#" class="alert-link">Bien Hecho!</a> El comentario se
								cre&oacute; con &eacute;xito.
							</div>
						</div>
						<div class="col s12" th:if="${altaComentarioError} == true">
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert"
									aria-hidden="true">×</button>
								<a href="#" class="alert-link">Error!</a> <span th:text="${altaComentarioErrorMsj}"></span>
							</div>
						</div>
					</div>
			    </form>
			    
			    <div class="row">
			    	<div class="col l12 s12">
			    		<div class="form-group input-group input-field">
							<label for="temaTitulo" class="" style="color: black; font-weight: inherit;">
								T&iacute;tulo:&nbsp;
								<span th:text="${tema.titulo}">&nbsp;</span>
							</label>																																																							
						</div>
						<div class="form-group input-group input-field">
							<label for="temaDescripcion" class="" style="color: black; font-weight: inherit;">
								Descripci&oacute;n:&nbsp;
								<span th:text="${tema.descripcion}">&nbsp;</span>
							</label>
						</div>
						<div class="form-group input-group input-field">
							<label for="temaDescripcion" class="" style="color: black; font-weight: inherit;">
								Usuario:&nbsp;
								<span th:text="${tema.nombreCompletoUsuario}">&nbsp;</span>
							</label>
						</div>
						<div class="form-group input-group input-field">
							<label for="temaDescripcion" class="" style="color: black; font-weight: inherit;">
								Fecha:&nbsp;
								<span th:text="${#dates.format(tema.fechaCreacion, 'dd-MM-yyyy')}">&nbsp;</span>
							</label>
						</div>
			    	</div>
			    	
			    	<div>
			    		<!-- Se da la posibilidad de aprobar el tema cuando el tema no esta aprobado y es un foro moderado. -->
			    		<div class="row">
							<div class="col-xs-12">
								<hr></hr>
							</div>
						</div>
							
						<div class="col l12 s12">
							<a th:if="${tema.aprobado} == false and ${foroForm.sesion.foro.moderado} == true and ${tema.rechazado} == false" type="submit" class="btn orange-effect orange darken-4" th:href="@{/foro/aprobarTema/{idCurso}/{nroSesion}/{idTema}(idCurso=${foroForm.curso.id},nroSesion=${foroForm.sesion.id.numero},idTema=${tema.id})}">Publicar</a>
							<a th:if="${tema.rechazado} == false" type="submit" class="btn orange-effect orange darken-4" th:href="@{/foro/ocultarTema/{idCurso}/{nroSesion}/{idTema}(idCurso=${foroForm.curso.id},nroSesion=${foroForm.sesion.id.numero},idTema=${tema.id})}">Ocultar</a>
							<a th:if="${tema.aprobado} == false and ${foroForm.sesion.foro.moderado} == true" class="btn orange-effect orange darken-4" th:href="@{/foro/{cursoId}(cursoId=${foroForm.curso.id})}">Salir</a>
						</div>
						
						<div class="row" th:if="${tema.rechazado} == false">
							<div class="col-xs-12">
								<br />
							</div>
						</div>
			    	</div>
			    	
			    	<div class="col l12 s12" th:if="${tema.aprobado} == true or ${foroForm.sesion.foro.moderado} == false and ${tema.rechazado} == false">
			    		<!-- Si el tema esta aprobado o el foro no es moderado, listo los comentarios -->
			    		<div class="panel panel-default">
							<div class="panel-heading" style="font-weight: bold;">
								Comentarios
							</div>
							<div class="panel-body">
								<ul class="timeline">
					    			<li th:each="comentario : ${comentarios.pageList}">
					    				<!-- Icono de estado del comentario -->
					    				<div th:if="${comentario.aprobado} == true or ${foroForm.sesion.foro.moderado} == false" class="timeline-badge success" style="z-index: 1;">
					    					<!-- Comentario OK -->					    					
					    					<i class="fa fa-thumbs-o-up"></i>
										</div>
										<div th:if="${comentario.rechazado} == true" class="timeline-badge danger" style="z-index: 1;">
					    					<!-- Comentario RECHAZADO -->					    					
					    					<i class="fa fa-thumbs-o-down"></i>
										</div>
										<div th:if="${comentario.rechazado} == false and ${comentario.aprobado} == false and ${foroForm.sesion.foro.moderado} == true" class="timeline-badge warning" style="z-index: 1;">
					    					<!-- Comentario INDEFINIDO para foro MODERADO -->
					    					<i class="fa fa-thumbs-o-up"></i>
					    					<i class="fa fa-thumbs-o-down"></i>
										</div>
										<!-- FIN - Icono de estado del comentario -->
										<div class="timeline-panel">
											<div class="timeline-heading">
												<h4 class="timeline-title">
													<i class="material-icons">perm_identity</i>   
													<label for="temaDescripcion" class="" style="color: black; font-weight: inherit;">
														Usuario:&nbsp;
														<span th:text="${comentario.nombreCompletoUsuario}">&nbsp;</span>
													</label>
												</h4>
												<p>
													<small class="text-muted">
														<i class="fa fa-clock-o"></i> 
														<label for="temaDescripcion" class="" style="color: black; font-weight: inherit;">
															Fecha:&nbsp;
															<span th:text="${#dates.format(comentario.fechaCreacion, 'dd-MM-yyyy')}">&nbsp;</span>
														</label>
													</small>
												</p>
											</div>
											<div class="timeline-body">
												<div th:if="${comentario.rechazado} == true" class="alert alert-warning">										
													El siguiente comentario no est&aacute; visible para los alumnos.
												</div>
												<br></br>
												<div th:if="${comentario.rechazado} == true" class="form-group input-field">
													<textarea style="color: #a0a0a0" class="materialize-textarea" th:text="${comentario.descripcion}" length="500">
														[[${comentario.descripcion}]]
													</textarea>
												</div>												
												<div th:if="${comentario.rechazado} == false" class="form-group input-field">
													<textarea class="materialize-textarea" th:text="${comentario.descripcion}" length="500">
														[[${comentario.descripcion}]]
													</textarea>
												</div>
											</div>
											
											<div>
						    					<!-- Comentario INDEFINIDO para foro MODERADO -->
						    					<div class="row">
													<div class="col-xs-12">
														<hr></hr>
													</div>
												</div>
												
												<div class="row">        		
													<div class="col-xs-12" style="text-align: right;">
														<a th:if="${comentario.rechazado} == false and ${comentario.aprobado} == false and ${foroForm.sesion.foro.moderado} == true" type="submit" class="btn orange-effect orange darken-4" th:href="@{/foro/aprobarComentario/{idCurso}/{nroSesion}/{idTema}/{idComentario}(idCurso=${foroForm.curso.id},nroSesion=${foroForm.sesion.id.numero},idTema=${tema.id},idComentario=${comentario.id})}">Aprobar</a>
														<a th:if="${comentario.rechazado} == false" type="submit" class="btn orange-effect orange darken-4" th:href="@{/foro/ocultarComentario/{idCurso}/{nroSesion}/{idTema}/{idComentario}(idCurso=${foroForm.curso.id},nroSesion=${foroForm.sesion.id.numero},idTema=${tema.id},idComentario=${comentario.id})}">Ocultar</a>																    	
													</div>
												</div>
											</div>
										</div>
					    			</li>			    		
					    		</ul>
							</div>
							
							<div  class="col-md-12 text-center" style="z-index: 1;">
					        	<div  class='pagination pagination-centered'>
					        		<ul class="pagination">
					        			<li th:class="${currentIndex == 1}? 'disabled' : ''"><span
											th:if='${currentIndex == 1}'>Primera</span> <a
											th:if='${currentIndex != 1}' th:href="@{|${baseUrl}1|}">Primera</a>
										</li>
											<li th:class="${currentIndex != 1}? '' : 'disabled'"><span
											th:if='${currentIndex == 1}'>«</span> <a
											th:if='${currentIndex != 1}'
											th:href="@{|${baseUrl}${currentIndex-1}|}"
											title='Ir a la p&aacute;gina anterior'>«</a>
										</li>
										<li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
											th:class="${item == currentIndex ? 'active' : '' }"><span
											th:if='${item == currentIndex}' th:text='${item}'>1</span> <a
											th:if='${item != currentIndex}' th:href="@{|${baseUrl}${item}|}">
												<span th:text='${item}'>1</span>
											</a>
										</li>
										<li th:class="${currentIndex != totalPageCount}? '' : 'disabled'">
											<span th:if='${currentIndex == totalPageCount}'>»</span> <a
											th:if='${currentIndex != totalPageCount}'
											th:href="@{|${baseUrl}${currentIndex+1}|}"
											title='Ir a la pr&oacute;xima p&aacute;gina'>»</a>
										</li>
										<li th:class="${currentIndex == totalPageCount}? 'disabled' : ''">
											<span th:if='${currentIndex == totalPageCount}'>&Uacute;ltima</span> <a
											th:if='${currentIndex != totalPageCount}'
											th:href="@{|${baseUrl}${totalPageCount}|}">&Uacute;ltima</a>
										</li>
					        		</ul>
					        	</div>
					        </div>
						</div>			    		
			    	</div>	    	    
			    </div>
			    
			    <div th:if="${tema.aprobado} == true or ${foroForm.sesion.foro.moderado} == false" class="row">
					<div class="col-xs-12">
						<hr></hr>
					</div>
				</div>
			    
			    <div th:if="${tema.aprobado} == true or ${foroForm.sesion.foro.moderado} == false" class="row">        		
					<div class="col l12 s12">			    					    				
						<div class="form-group">							                       		
							<a class="btn orange-effect orange darken-4" href="#" th:href="@{/foro/{cursoId}(cursoId=${foroForm.curso.id})}">Salir</a>
						 </div>
					</div>
				</div>
				
				<div th:if="${tema.aprobado} == true or ${foroForm.sesion.foro.moderado} == false and ${tema.rechazado} == false" id="chat-box" class="row" style="z-index: 1;">
					<form action="#" th:action="@{/foro/agregarComentario/{idCurso}/{nroSesion}/{idTema}(idCurso=${foroForm.curso.id},nroSesion=${foroForm.sesion.id.numero},idTema=${tema.id})}" th:object="${foroForm}" method="post" id="formularioAltaComentario">
						<div class="message-input-wrapper">
							<textarea class="materialize-textarea" th:field="*{comentario.descripcion}" placeholder="Ingrese un nuevo comentario" length="500"></textarea>
							<p id="descripcionComentarioError" th:errors="*{comentario.descripcion}" class="has-error-custom"></p>
						</div>
						<button type="submit" class="btn orange-effect orange darken-4">Publicar</button>
					</form>
				</div>					                                    
			</div>
		</div>
	</div>
	
	<!--  Scripts-->
    <script src="../../static/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../static/js/metisMenu.js" th:src="@{/js/metisMenu.js}"></script>
    <script src="js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <script src="js/init.js" th:src="@{/js/init.js}"></script>
    
</body>
</html>