<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Taller Desarrollo II - FIUBA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
	
	<link href="css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" th:href="@{/css/educa.css}" rel="stylesheet" media="screen,projection" />
	
</head>
<body>
	<div th:replace="views/fragments/header :: header">&nbsp;</div>
	 
	<div class="container">
		<div class="section">
			<div class="row">
				<h1>Configuraci&oacute;n sesiones - foro</h1>
				<form id="cursoForm" action="#" th:object="${foroForm}">
			    	<div class="row">
				    	<div class="col s4">
				    		<div class="form-group input-field">
				    			<input type="text" th:field="*{curso.nombre}" placeholder="Nombre del curso" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>			    			
				    		</div>
				    	</div>
				    	<div class="col s1"></div>
				    	<div class="col s3">	
				        	<div class="form-group input-field">
				        		 <input type="text" th:field="*{curso.categoria.descripcion}" placeholder="Categor&iacute;a del curso" disabled="disabled" style="color: #000; border-bottom: 1px solid #26a69a;"/>                                                        
	                         </div>		 			    		 	                        
				    	</div>				    	
			    	</div>
			    </form>
			    
			    <div class="row">
			    	<!-- Se listan las sesiones activas del curso. -->					                
					<div th:if="${sesiones} != null">
						<div th:if="${not #lists.isEmpty(sesiones)}">							
							<ul class="collection with-header collapsible popout collapsible-accordion" data-collapsible="accordion">
								<li class="collection-header"><h4>Sesiones</h4></li>								
								<li th:each="sesion : ${sesiones}" th:id="'sesion-' + ${sesion.id.numero}">									
									<div class="collapsible-header">
										<i th:if="${sesion.foroModerado} == true" class="material-icons" style="color: #d50000;">forum</i>
										<i th:if="${sesion.foroModerado} == false" class="material-icons" style="color: #26a69a;">forum</i>
										<span th:text="${sesion.descripcionForo}">&nbsp;</span>										
									</div>
									<div class="collapsible-body" style="">
										<form action="#">
											<div id="formularioSesion">
												<div class="row">
													<br></br>
													<div class="col s3"></div>
													<div class="col s6">
														<div class="alert alert-success">
														   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
														   <span th:text="${sesion.mensajeEstado}">&nbsp;</span>	                   
														</div>
													</div>
													<div class="col s3"></div>
												</div>
												<div class="row">
													<div class="col s2"></div>
													<div class="col s4"> 
														<div class="form-group input-group input-field">
															<label for="cantidadTemasPorAprobar" class="" style="color: black; font-weight: inherit;">
																Temas <span style="color: #d50000;">por aprobar</span>:&nbsp;
																<span th:text="${sesion.foro.cantidadTemasPorAprobar}">&nbsp;</span>
															</label>																																																							
														</div>
														<div class="form-group input-group input-field">
															<label for="cantidadComentariosPorAprobar" class="" style="color: black; font-weight: inherit;">
																Mensajes <span style="color: #d50000;">por aprobar</span>:&nbsp;
																<span th:text="${sesion.foro.cantidadComentariosPorAprobar}">&nbsp;</span>
															</label>
														</div>
													</div>
													<div class="col s4">
														<div class="form-group input-group input-field">
															<label for="cantidadTemasAprobados" class="" style="color: black; font-weight: inherit;">
																Temas <span style="color: #26a69a;">aprobados</span>:&nbsp;
																<span th:text="${sesion.foro.cantidadTemasAprobados}">&nbsp;</span>
															</label>																																																							
														</div>
														<div class="form-group input-group input-field">
															<label for="cantidadComentariosAprobados" class="" style="color: black; font-weight: inherit;">
																Mensajes <span style="color: #26a69a;">aprobados</span>:
																<span th:text="${sesion.foro.cantidadComentariosAprobados}">&nbsp;</span>
															</label>																																																							
														</div>
													</div>
													<div class="col s2"></div>
												</div>											
												
												<!-- Voy a listar los temas -->
												<div class="row">
													<div class="col s1"></div>
													<div class="col s10">
														<ul class="collection with-header">
													        <li class="collection-header"><h5>Temas</h5></li>
													        <li th:each="tema : ${sesion.foro.temas}" class="collection-item">
													        	<div>
													        		<div>
													        			<i th:if="${tema.aprobado} == false" class="material-icons" style="color: #d50000; vertical-align: middle;">error_outline</i>
																		<i th:if="${tema.aprobado} == true" class="material-icons" style="color: #26a69a; vertical-align: middle;">done_all</i>
																		<span th:text="${tema.titulo}">&nbsp;</span>
																		<div style="float: right;">
																			<button th:if="${tema.cantidadComentariosPorAprobar} > 0" type="button" class="btn btn-danger-educa btn-circle-educa circle tooltipped" data-position="top" data-tooltip="Cantidad de comentarios sin aprobar." th:text="${tema.cantidadComentariosPorAprobar}">&nbsp;</button>
																			&nbsp;&nbsp;&nbsp;&nbsp;
																			<a href="#" th:href="@{/foro/detalleTema/{idCurso}/{nroSesion}/{idTema}(idCurso=${sesion.id.idCurso},nroSesion=${sesion.id.numero},idTema=${tema.id})}" class="secondary-content">
																				<i th:if="${tema.aprobado} == false" class="material-icons" style="color: #d50000;">send</i>
																				<i th:if="${tema.aprobado} == true" class="material-icons" style="color: #d50000;">send</i>
																			</a>
																		</div>															
																	</div>																																								        	
													        	</div>
													        </li>										        
													     </ul>
													</div>
													<div class="col s1"></div>
												</div>																
											</div>
											
											<div class="row">
												<div class="col-xs-12">
													<hr></hr>
												</div>
											</div>
											
											<div class="row">        		
												<div class="col-xs-12" style="text-align: right;">
													<!-- data-position can be : bottom, top, left, or right -->
	  												<!-- data-delay controls delay before tooltip shows (in milliseconds)-->
											    	<a onclick="abrirPopupNuevoTema();" class="btn-floating btn-large waves-effect waves-light orange-effect orange darken-4 tooltipped modal-trigger" data-position="top" data-tooltip="Crear tema."><i class="material-icons">add</i></a>				    	
												</div>
											</div>	
										</form>
									</div>
									
									<!-- Alta de un tema dentro del foro de la sesion. -->
									<div id="modalAltaTema" class="modal">										
										<div class="modal-content">											
											<h4 class="modal-title" id="myModalLabel">Foro - Nuevo tema</h4>
											<hr></hr>																							
											<form action="#" th:action="@{/foro/agregarTema/{idCurso}/{nroSesion}(idCurso=${sesion.id.idCurso},nroSesion=${sesion.id.numero})}" th:object="${foroForm}" method="post" id="formularioAltaTema">
												<input type="hidden" th:field="*{tema.idForo}" th:value="${sesion.foro.id}"/>
												<input type="hidden" th:field="*{tema.estado}" th:value="APROBADO"/>
												<div class="col l6 s12"> 
													<div class="form-group input-field">
														<input type="text" th:field="*{tema.titulo}" placeholder="T&iacute;tulo del nuevo tema" length="45"/>
														<p id="tituloTemaError" th:errors="*{tema.titulo}" class="has-error-custom"></p>
													</div>							        	                      
													<div class="form-group input-field">
														<textarea class="materialize-textarea" th:field="*{tema.descripcion}" placeholder="Descripci&oacute;n del nuevo tema" length="200"></textarea>
														<p id="descripcionTemaError" th:errors="*{tema.descripcion}" class="has-error-custom"></p>
													</div>		 			    		 	                         
												</div>
												
												<div class="row">
													<div class="col-xs-12">
														<hr></hr>
													</div>
												</div>
													
												<div class="col l12 s12" style="margin-top: -40px;">
													<button type="submit" class="btn orange-effect orange darken-4">Publicar</button>
													<a class="btn orange-effect orange darken-4" onclick="cerrarModalAltaTema();">Salir</a>
												</div>
											</form>																																																																
										</div>																																				
									</div>				
								</li>								
							</ul>																					
						</div>
					</div>
					
					<!-- No hay sesiones activas del curso para mostrar. -->
					<div th:if="${#lists.isEmpty(sesiones)}">
						<div class="alert alert-warning">
							No hay sesiones creadas o activas para mostrar.
						</div>
					</div>		    
			    </div>
			    
			    <div class="row">
					<div class="col-xs-12">
						<hr></hr>
					</div>
				</div>
			    
			    <div class="row">        		
					<div class="col l12 s12">			    					    				
						<div class="form-group">							                       		
							<a class="btn orange-effect orange darken-4" href="#" th:href="@{/docente/{idUsuarioDocente}/bandeja-cursos(idUsuarioDocente=${foroForm.curso.docente.id})}">Salir</a>
						 </div>
					</div>
				</div>			                                    
			</div>
		</div>
	</div>
	
	<!--  Scripts-->
    <script src="../../static/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../static/js/metisMenu.js" th:src="@{/js/metisMenu.js}"></script>
    <script src="js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
    <script src="js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <script src="js/init.js" th:src="@{/js/init.js}"></script>
    
    <script type="text/javascript">
    	function abrirPopupNuevoTema(){
    		$('#modalAltaTema').openModal();	
    	}    
    
    	function cerrarModalAltaTema(){
    		$('#modalAltaTema').closeModal();    		
    	}
    </script>
    
</body>
</html>